.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height:80vh;
  direction:column;
}

.content-inner {
  width: 600px;
}

/* Row 1*/
.row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.item {
    height:160px;
    width: calc(100% / 3);
    background:#000;
    color:#fff;
    font-size:2.4rem;
}

.item.blue {
  background-color: turquoise;
}

/* Row 2 */

.row-2 {
  display: flex;
  justify-content: left;
}

button {
  font-size:2.4rem;
  padding:1rem;
  background-color:green;
  margin-top:0.4rem;
  border:none;
  color:#fff;
  cursor:pointer;
}
