body {
    margin: 15vh;
    text-align: center;
    font-family: serif;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

div button {
    width: 100px;
    height: 60px;
    margin: 10px;

}
