*{
    text-align: center;   
}

button {
    font-size: 1.5rem;
    margin: 10px;
    background-color: antiquewhite;

    
}

.bannerPage{
    background-color: lightblue;
    height: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}